.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.two-columns__paragraph:first-of-type {
  margin-top: 0;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
